<div class="jumbotron text-center">
  <h1 class="display-5">
    Mean App with authentication</h1>
 
  <div class="lead">
    Welcome to our mean auth app built from scratch</div>
  <hr class="my-4">
  <a
    [routerLink]="['/register']" 
    class="btn btn-primary">
    Register</a>
  <a 
    [routerLink]="['/login']"
    class="btn btn-default">
    Login</a>
</div>
<div class="row">
  <div class="col-md-4">
    <h3>Node Developer</h3>
    <p>I develop node application from scratch</p>
  </div>
  <div class="col-md-4">
    <h3>RESTfull API Development</h3>
    <p>I develop restfull api of anykind</p>
  </div>
  <div class="col-md-4">
    <h3>Wordpress Development</h3>
    <p>I develop custom wordpress theme</p>
  </div>
</div>